* {
    font-family: sans-serif;
  }

  body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background-color: silver;
  }

  .lastResult {
    padding: 3px;
  }
  .guessSubmit{
      border-radius: 6px;
      padding: 2px 3px 2px 3px;
      text-transform: uppercase;
  }
  button{
      border-radius:6px;
      padding:2px 3px 2px 3px;
      text-transform: uppercase;
    }
#guessField{
    border-radius: 3px;
}